/* Import `Google Sans Flex` & `Arvo` fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

@import 'tailwindcss';
@plugin 'fluid-tailwindcss';

@theme {
	--font-sans: 'Google Sans Flex', ui-sans-serif, sans-serif;
	--font-serif: 'Arvo', ui-serif, serif;

	--color-background: var(--color-white);
	--color-surface: var(--color-white);

	--color-foreground: var(--color-gray-700);
	--color-faded: var(--color-gray-600);

	--color-line: var(--color-gray-200);
	--color-shade: var(--color-gray-300);

	--color-primary-50: var(--color-orange-50);
	--color-primary-100: var(--color-orange-100);
	--color-primary-200: var(--color-orange-200);
	--color-primary-300: var(--color-orange-300);
	--color-primary-400: var(--color-orange-400);
	--color-primary-500: var(--color-orange-500);
	--color-primary-600: var(--color-orange-600);
	--color-primary-700: var(--color-orange-700);
	--color-primary-800: var(--color-orange-800);
	--color-primary-900: var(--color-orange-900);
	--color-primary-950: var(--color-orange-950);

	/* Aliases */
	--color-primary: var(--color-primary-600);
	--color-primary-light: var(--color-primary-100);
	--color-primary-dark: var(--color-primary-900);
	--color-on-primary: var(--color-white);
}

@layer base {
	/* Specify global inheritted styles */
	html {
		@apply font-sans text-foreground scheme-light;
	}

	/* Specify body styles (not inheritted) */
	body {
		@apply bg-background;
	}

	/* Specify base styles for all elements */
	*,
	::before,
	::after {
		@apply border-line shadow-shade outline-primary-400;
	}

	/* Custom selection styles */
	::selection {
		@apply bg-primary text-on-primary;
	}
}
